/* RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, textarea, input,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.rowMargin{
	margin-bottom:30px;
	min-height: 205px;
}
h1 {
	font-size: 28px;
}
h2{
	font-size: 26px;
}
h3 {font-size: 24px;}
h4{
	font-size: 22px;
}
h5 {font-size: 20px;}
h6 {font-size: 18px;}
.fa-calendar-alt, .fa-folder-open, .fa-comment, .fa-user-alt {
	margin-right: 7px;
}


.wp-caption {
	text-align: center;
	margin: 10px 20px 13px 20px;
	font-style: italic;
}
.required {
	color:#DF003A;
}

.wp-caption img,
.wp-caption img a {
	display: block;
	margin: 0;
}

p.wp-caption-text {
	display: inline-block;
	margin: 10px 0 0 0;
	padding: 5px 10px;
	background-color: #EEE;
	border-radius: 50px;
}

.wp-smiley {
	max-height: 13px;
	margin: 0 !important;
}

/************************************************************************MOBILE************************************************************************/
.topBar, footer {
	background:#04384d;
	padding:6px 0;
}

ul#menu-top-bar-menu, .topBar ul.menu, .topSocial ul, .relatedPostsContainer, .footerSocial ul{
	display: flex;
}

ul#menu-top-bar-menu, .topBar ul.menu, footer .copyright {
	float: left;
	color:#fff;
	margin-bottom: 6px;
}
ul#menu-top-bar-menu li, .topBar ul.menu li, .topSocial ul li, .footerSocial ul li, .defPages a{
	margin:0 15px 0 0;
}
.topSocial ul, .footerSocial ul {
	float: right;
}
.topSocial ul::after, .footerSocial ul::after {
	display:block;
	content:" ";
	clear: both;
}
.topBar ul.menu li  a, .topBar ul li  a, footer ul li  a, .defPages a {
	position: relative;
	color: #fff;
	text-decoration:none;
	text-transform: uppercase;
	font-size:15px;
  }
  .topBar ul.menu li  a:hover, .topBar ul li  a:hover, footer ul li  a:hover, .defPages a:hover{
	color: rgb(171, 145, 212);
  }
  .topBar ul.menu li a:before, .topBar ul li a:before,  footer ul li a:before, .defPages a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #04384D;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
  }
  .topBar ul.menu li a:hover:before,  .topBar ul li a:hover:before, footer ul li a:hover:before, .defPages a:hover:before {
	visibility: visible;
	background-color: rgb(171, 145, 212);
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  }
.sticky { background: transparent; 
	transition: 0.7s;
}
	  .fixed {
		  transition:box-shadow  0.3s;
		  box-shadow: 0px 28px 57px 0px rgba(0,0,0,0.80);
		  background: #fff;
		position: fixed;
		top:0; left:0;
		width: 100%; 
		z-index: 999;
	}
	.fixed .container .logo img{
		width: auto;
		height:80px;
		padding:6px 0;
		display:inline-block;
	}
	.header {
		background-size: cover;
		background:url(../img/header-bg.jpg);
	}
	.logo a.standard-logo {
		text-decoration: none;
		color:#DF003A;
		font-size:38px;
		line-height:120px;
	}
	.logo img{
		width: auto;
		height:120px;
		padding:6px 0;
		display:inline-block;
	}
	ul#menu-primary {
		display: block;
	}
	nav#primaryMenu {
		display:inline-block;
		position: absolute;
		top:50%;
		transform: translate(0%,-50%);
		right:0;
	}

/*Menu link effect */
ul.menu li  a {
	position: relative;
	color: #04384D;
	text-decoration:none;
	text-transform: uppercase;
	font-size:20px;
  }
  ul.menu li  a:hover {
	color: #DF003A;
  }
	ul.menu li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #DF003A;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
  }
  ul.menu li a:hover:before {
	visibility: visible;
	background-color: #04384D;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  }
/**/
/*Other links*/
h2  a, .mainSidebar ul li a, td a, .wp-calendar-nav span a, ul.meta-tags li a {
	position: relative;
	color: #2782a7;
	text-decoration:none;
	
  }
  h2  a:hover, .mainSidebar ul li a:hover, td a:hover, .wp-calendar-nav span a:hover, ul.meta-tags li a:hover {
	color: #DF003A;
  }
	h2 a:before, .mainSidebar ul li a:before, td a:before, .wp-calendar-nav span a:before, ul.meta-tags li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #DF003A;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
  }
  h2 a:hover:before, .mainSidebar ul li a:hover:before, td a:hover:before, .wp-calendar-nav span a:hover:before, ul.meta-tags li a:hover:before {
	visibility: visible;
	background-color: #04384D;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  }
/**/

/*prev/next links*/
p.mainButton.buttonCold.older a, p.mainButton.buttonHot.newer a {
	position: relative;
	color: #fff;
	text-decoration:none;
	font-size: 26px;
	
  }
  p.mainButton.buttonCold.older:hover a, p.mainButton.buttonHot.newer:hover a {
	color: #DF003A;  
  }
  p.mainButton.buttonCold.older a:before, p.mainButton.buttonHot.newer a:before { 
  content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #DF003A;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
p.mainButton.buttonCold.older:hover a:before, p.mainButton.buttonHot.newer:hover a:before{
visibility: visible;
background-color: #04384D;
-webkit-transform: scaleX(1);
transform: scaleX(1);
}

  h2  a:hover, .mainSidebar ul li a:hover, td a:hover, .wp-calendar-nav span a:hover, ul.meta-tags li a:hover {
	color: #DF003A;
  }
	h2 a:before, .mainSidebar ul li a:before, td a:before, .wp-calendar-nav span a:before, ul.meta-tags li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #DF003A;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
  }
  h2 a:hover:before, .mainSidebar ul li a:hover:before, td a:hover:before, .wp-calendar-nav span a:hover:before, ul.meta-tags li a:hover:before {
	visibility: visible;
	background-color: #04384D;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  }
/**/

.container {
	max-width:95%;
	margin:0 auto;
	overflow: hidden;
}
.buttonHot{
	background: #df003a;
}
.buttonHot:hover{
	color: #df003a;
}
.categoryLabel a{
	background: #df003a;
	color:#fff;
	display: inline-block;
	border: 1px solid transparent;
	transition: 0.7s;
	padding:3px 10px;
	color:#fff;
	text-decoration: none;
}

.buttonCold{
	background: #0d98ba;

}
.buttonCold:hover{
	color: #0d98ba;

}
.mainButton{
    display: inline-block;
	border: 1px solid transparent;
	transition: 0.7s;
	padding:3px 10px;
	color:#fff;

}
.older, .newer {
	width: 100%;
	text-align: center;
}

.mainButton.buttonHot.newer:empty,.mainButton.buttonCold.older:empty {
	display:none;
}

main {
	width: 100%;
	float: none;
}
.content{
	 margin-top:15px;
}
h2 {
	margin-bottom:10px;
}
aside {
	width: 100%;
	float: none;
}
.mainSidebar {
	padding:0 0 0 10px;
}
.mainSidebar  h4{
color:#04384D;
margin:0 0 20px 0;

display:inline-block;
}
.mainSidebar h4:after {
	content:" ";
	background:#04384D;
	display:block;
	width:70%;
	height: 3px;
}
.mainSidebar ul {
	margin: 0 0 20px 0;
}
.mainSidebar ul li {
	margin: 5px 0;
}
.mainSidebar  #wp-calendar {
	width:100%;
	text-align:center;
}
.thumbnailEffect {
	transition: filter 0.3s;
}
.thumbnailEffect:hover {
	filter: brightness(1.1);
  -webkit-filter:brightness(1.1);
}
.thumbnail img {
	width:100%;
	height:auto;
}
.no.thumbnail{
	text-align: center;
	font-size: 20px;
	opacity:0.3;
}
.no.thumbnail a {
	color:#04384D;
	text-decoration:none;	
}
.no.thumbnail img {
	max-height: 205px;
	width:auto;
    display: block;
    margin: 0 auto;
}
.misc {
    position: fixed;
    right: 0;
	top: 50%;
	transform: translate(0%,-50%);
}
.excerpt {
	margin-top: 7px;
}

/*Specific templates styling*/
.post-template-default main, .single main, .single-post main {
	width:100%;
	float: none;
}
.posts-additional {
	background:rgb(171, 145, 212);
	padding: 6px 0;
	position: relative;
} 
.commentsForm{
	margin:30px 0;
}
.comment-notes {
	margin-bottom:15px;
}
.commentList{
	margin-bottom:30px;
}
.comment-reply-title {
	margin-bottom: 15px;
}
.commentsForm textarea, .commentsForm input[type=text]  {
	width:100%;
	display: block;
	border:1px solid #04384D;
	margin: 10px 0;
}
.commentsForm textarea:focus, .commentsForm input[type=text]:focus  {
	border:1px solid #DF003A;
	outline: none !important;
}

/*Bottom*/
.footerSocial:after{
	content:" ";
	display: block;
	clear: both;
}

.relatedPostsContainer {
	justify-content: space-between;
}
.authorAvatar {
	margin:0;
	float:none;
} 
/*DESKTOP*/
@media only screen and (min-width: 1200px) {

#primaryMenu ul.menu {
	display: flex;
	float: right;
}
#primaryMenu ul.menu li {
	margin:0 15px;
}
#primaryMenu ul.menu li:last-child {
	margin:0 0 0 15px;
}
#primaryMenu ul.menu:after {
	display: block;
	content:"";
	clear:both;
}
ul#menu-primary li {
    margin:0 15px;
}

main{
	width:75%;
	float: left;
	margin-top:30px;
	overflow-wrap: break-word;
}
.categoryLabel a:hover {
	color:#df003a;
}
.mainButton:hover, .categoryLabel a:hover{
	
	background: transparent;
	border: 1px solid #eee;
	cursor: pointer;

}
aside {
	width:25%;
	float: right;

}
.formControl{
	width: 77%;
    height: 25px;
}
.authorAvatar {
	margin:0 10px 0 0;
	float:left;
}
}



/*Fixed Search field & cart button*/

.fa-shopping-cart {
	width: 40px;
	height: 40px;
	background: #DF003A;
	border-radius: 50%;
	right: 20px;
	top: 10px;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #fff;
}

.search-box {
	width: 450px;
	height: 100px;
	position: relative;
  }
  
  .input {
	position: absolute;
	top: 10px;
	right: 20px;
	box-sizing: border-box;
	width: 0px;
	height: 40px;
	padding: 0 18px;
	outline: none;
	font-size: 18px;
	border-radius: 50px;
	color: #29313a;
	border: 3px solid#0D98BA;
	transition: all 0.8s ease;
  }
  
  ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #0D98BA;
  }
  ::-moz-placeholder {
	/* Firefox 19+ */
	color: #0D98BA;
  }
  :-ms-input-placeholder {
	/* IE 10+ */
	color: #0D98BA;
  }
  :-moz-placeholder {
	/* Firefox 18- */
	color: #0D98BA;
  }
  
  .btn {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #0D98BA;
	border-radius: 50%;
	right: 20px;
	top: 10px;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	color: #fff;
	transition: all 0.8s ease;
  }
  
  .input.active {
	width: 300px;
	right: 20px;
  }
  
  .btn.animate {
	transform: rotate(-360deg);
	right: 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  